
.error{
    color:red;
    display:block;
}
/* boton de registro */
.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: rgb(31, 28, 185);
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: rgb(28, 109, 163);
	border-color: rgb(28, 154, 163);
}
/* LOGO DEL CINE y menu */
.logo{
	width: 100px;
	
}
